code {
  font-family: $monospaced;
  font-size: 85%;
  font-weight: 500;
  margin: 0 2px;
  padding: 0 5px;
  border: 1px solid $border-color;
  border-radius: 3px;
  background-color: $grey-3;
  color: $code-color;
}

.highlight {
  margin: 0 0 1rem;
}

pre {  
  &.highlight {
    font-size: 85%;
    white-space: nowrap;
    margin-bottom: 1.25em;
  }

  > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
    width: auto;
    overflow: auto;
  }
}