.project-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;  
  padding-top: 1rem;
}

.project {
  width: 240px;
  height: 200px;
  border: 1px solid $border-color;
  border-radius: 6px;
  margin: 0.75rem;
  overflow: hidden;
  
  box-shadow: 0 0px 6px 0 $shadow-color;
  cursor: pointer;
  
  .image-card {
    margin: -1rem, -1rem, 0rem, -1rem;
    width: auto;
    max-height: 50%;
    min-height: 50%;
    overflow: hidden;

    border-bottom: 1px solid $border-color;

    img {
      transition: 0.35s;
      width: 100%;
      height: auto;
    }
  }

  .project-name {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: $default-shade;
    font-family: $sans-serif;
    font-size: larger;
    font-weight: 700;
    transition: 0.35s;
  }

  .project-description {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: $default-color;
    font-family: $sans-serif-secondary;
    font-size: smaller;
    font-weight: 400; 
  }
}

.project:hover {
  transition: 0.35s;

  .image-card img {
    transform: translateY(-10%) scale(1.20);
  }

  .project-name {
    color: $blue;
  }

  box-shadow: 0 0px 6px 0 $blue;
  border-color: $blue;
}